[package]
name = "kumo-server-common"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
axum = {workspace=true}
axum-client-ip = "0.4"
axum-server = {workspace=true, features=["tls-rustls"]}
backtrace = "0.3"
base64 = "0.13"
cidr-map = {path="../cidr-map"}
clap = {version="4.1", features=["derive"]}
config = {path="../config"}
console-subscriber = "0.1"
data-loader = {path="../data-loader"}
domain-map = {path="../domain-map"}
gethostname = "0.4"
json_comments = "0.2"
kumo-api-types = {path="../kumo-api-types"}
kumo-server-lifecycle = {path="../kumo-server-lifecycle"}
kumo-server-memory = {path="../kumo-server-memory"}
kumo-server-runtime = {path="../kumo-server-runtime"}
libc = "0.2.139"
mac_address = "1.1"
metrics = "0.20"
metrics-prometheus = "0.3"
metrics-tracing-context = "0.13"
mlua = {workspace=true, features=["vendored", "lua54", "async", "send", "serialize"]}
mod-amqp = {path="../mod-amqp"}
mod-digest = {path="../mod-digest"}
mod-dns-resolver = {path="../mod-dns-resolver"}
mod-encode = {path="../mod-encode"}
mod-http = {path="../mod-http"}
mod-kafka = {path="../mod-kafka"}
mod-memoize = {path="../mod-memoize"}
mod-redis = {path="../mod-redis"}
mod-sqlite = {path="../mod-sqlite"}
nix = "0.26"
once_cell = "1.17"
prometheus = "0.13"
rcgen = "0.10"
regex-set-map = {path="../regex-set-map"}
rustls = {workspace=true}
rustls-pemfile = "1.0"
serde = {version="1.0", features=["derive"]}
serde_json = "1.0"
throttle = {path="../throttle"}
tokio = {workspace=true, features=["full", "tracing"]}
toml = "0.7"
tower-http = {version="0.4", features=["trace"]}
tracing = "0.1"
tracing-appender = "0.2"
tracing-subscriber = {version="0.3", features=["env-filter", "std", "fmt", "json"]}
utoipa = {workspace=true}
utoipa-rapidoc = {workspace=true}
uuid = {workspace=true, features=["v4", "fast-rng"]}
version-info = {path="../version-info"}
