/* prevent selection of prefix and output for console syntax */
.language-console .gp, .language-console .go {
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -ms-user-select: none; /* IE10+ */
  color: !important pink;
}
