[package]
name = "mta-sts"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
dns-resolver = {path="../dns-resolver"}
once_cell = {workspace=true}
futures = {workspace=true}
lruttl = {path="../lruttl"}
reqwest = {version="0.11", default-features=false, features=["json", "rustls-tls"]}
hickory-resolver = {workspace=true}

[dev-dependencies]
tokio = {workspace=true}
k9 = "0.11"
