[package]
name = "integration-tests"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
nix = {version="0.26", features=["signal"]}
tempfile = "3.4"
tokio = {version="1.25", features=["full"]}
