[package]
name = "spool"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
rocksdb = ["dep:rocksdb"]

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
chrono = {version="0.4", default-features=false}
flume = "0.10"
getrandom = "0.2"
humantime-serde = "1.1"
jwalk = "0.8"
lazy_static = "1.4"
libc = "0.2.139"
mac_address = "1.1"
once_cell = "1.17"
rocksdb = {version="0.21", features=["jemalloc"], optional=true}
serde = {version="1.0", features=["derive"]}
serde_json = "1.0"
tempfile = {workspace=true}
tokio = {workspace=true, features=["sync", "rt", "fs", "macros", "tracing"]}
utoipa = {workspace=true}
uuid = {workspace=true, features=["v1", "rng"]}
