[package]
name = "spool"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
rocksdb = ["dep:rocksdb"]

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
chrono = {version="0.4", default-features=false, features=["now"]}
duration-serde = {path="../duration-serde"}
flume.workspace = true
getrandom = "0.2"
jwalk = "0.8"
libc = "0.2.139"
prometheus = "0.13"
rocksdb = {version="0.22", features=["jemalloc"], optional=true}
serde = {workspace=true}
serde_json = "1.0"
tempfile = {workspace=true}
tokio = {workspace=true, features=["sync", "rt", "fs", "macros", "tracing"]}
tracing = "0.1"
utoipa = {workspace=true}
uuid = {workspace=true, features=["v1", "rng"]}
uuid-helper = {path="../uuid-helper"}
