[package]
name = "spool"
version = "0.1.0"
edition = "2021"

[features]
rocksdb = ["dep:rocksdb"]

[dependencies]
anyhow = {workspace=true}
async-trait = {workspace=true}
chrono = {workspace=true, default-features=false, features=["now"]}
duration-serde = {path="../duration-serde"}
flume = {workspace=true}
getrandom = {workspace=true}
jwalk = {workspace=true}
kumo-prometheus = {path="../kumo-prometheus"}
libc = {workspace=true}
linkme.workspace = true
rocksdb = {workspace=true, optional=true}
serde = {workspace=true}
serde_json = {workspace=true}
tempfile = {workspace=true}
tokio = {workspace=true, features=["sync", "rt", "fs", "macros", "tracing"]}
tracing = {workspace=true}
utoipa = {workspace=true}
uuid = {workspace=true, features=["v1", "rng"]}
uuid-helper = {path="../uuid-helper"}
