[package]
name = "rfc5321"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pest = "2.5"
pest_derive = "2.5"
tokio = {version="1.25", features=["full"]}
tokio-rustls = "0.23"
